/*Css formating*/
body{
    background-color: rgb(255, 255, 255);
    background-size: 130%

}
header{
    padding:2px 4px;
    background-color: rgba(0,0,0,0.6);
    text-align: center;


}
h1{
  color: rgba(100,180, 253);
}
button{
  background-color: transparent;
  border-style: none;
  font-size: 125%;
  border-radius: 5%

}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    background-color:rgba(255,255,255,0);
    padding:0px 0;
}
.footer p {float:left; width:100%; text-align:center; }

#Paragraph_in_bubble{
 color: rgba(255,255,255);
 text-align: center;
}
.main_button{
  top:50%;
  position:absolute;

}
a:link, a:visited {
  background-color: rgba(199,0,0,0.3);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(0,120,0,0.9);
}

#Paragrah_2{
  color: rgba(255,255,255);
  position: absolute;
  margin-left: 15px;
  top: 59%
}
#Copyright_color{
  color: rgba(255,255,255,0.3);
}
h2{
  color: rgba(255,255,255);
}
h2:hover{
  color: rgba(255,0,0);
}
#list{
 text
 text-decoration: none;
}
