/*css formating*/
.navigation{
  font-size: 100%;
  position: fixed;
}
.navigation{
  color: rgba(255,255,255,0.8);


}
a:hover{
  color:rgba(255,255,255);
}
h1{
  background-color: rgba(43,255,255,0.5);
  background-size: 130%;
  width:100%;
  margin-top: -5px;
  margin-left: calc(100%+(-10px));
}
body{
  background-color: rgba(0,0,0,0.5);
  background-image:url('../img/background-img.jpg');
  margin:0 auto;
  background-color:#fff;
  color:#00f;
  font-family:"Raleway", Helvetica, sans-serif;
  background-size: 130%;

}
div#header{
	background-color: rgba(34,255,255,0.4);
	border-bottom: 3px solid #000000;
	display:inline-block;
	width: 100%;
  text-align: center;
}

img{
	vertical-align: bottom;
  float:left;
}

div#nav_bar{
	display: inline-block;
}

ul.nav { padding : 0;}

.nav li {
	display: inline-block;
	list-style-type: none;
}

.nav ul, a {
  float:right;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 20px;
	text-decoration: none;
}

.nav a:hover {
	background: rgba(0,0,173,0.4);
}
.main_paragraph{  color: rgba(255,255,255);

}
#par_main{
  border: 4px solid black;
  margin-top: 5%;
  box-sizing: border-box;
  width: 300px;
  height: 358px;
  display: flex;
  text-align: center;
  font-size: 130%;

}
#par{
  border: 4px solid black;
  margin-left: 20%;


}
p{
  text-align: center;

}
#paragraph_button{
  border:1px solid black;
  font-weight: bold;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 45px;
  margin-top: 150px;;
  margin-left: 89px;


  position: absolute;
}
#paragraph_button:hover{
  	background: rgba(0,0,173,0.4);
}
footer{
  position: fixed;
           padding: 10px 10px 0px 10px;
           bottom: 0;
           width: 100%;
           text-align: center;
           height: 40px;
           color: rgba(255,255,255);
}
